pool: 'Hosted VS2017'

variables:
 - name: spnName
   value: 'pipelines-runner'
 - name: blueprintsPath
   value: '.\samples\'
 - name: blueprintName
   value: 'caf-foundation'
 - name: subscriptionId
   value: 'ae8e200a-97db-4b3e-82dc-1b3b6bbc609f' # / MJL Visual Studio

trigger:
  branches:
    include:
    - master
    - dev
  paths:
    exclude:
    - README.md
    - LICENSE
    - .gitignore
    - .github/*

steps:

- task: CreateBlueprint@1
  inputs:
    azureSubscription: $(spnName)
    BlueprintName: $(blueprintName)
    BlueprintPath: '$(blueprintsPath)$(blueprintName)' # would need to edit this to work with built-ins
    AlternateLocation: false
    PublishBlueprint: true

- task: AssignBlueprint@1
  inputs:
    azureSubscription: $(spnName)
    AssignmentName: 'pla-$(blueprintName)'
    BlueprintName: $(blueprintName)
    ParametersFile: '$(blueprintsPath)$(blueprintName)\assign.json'
    SubscriptionID: $(subscriptionId)
    Wait: true
    Timeout: 500